VITE_API_URL=https://vms-apim.azure-api.net/api
VITE_B2C_TENANT=vmsuniversity
VITE_B2C_POLICY=B2C_1_signupsignin
VITE_B2C_CLIENT_ID=<spa-client-id>
VITE_API_SCOPE=https://vmsuniversity.onmicrosoft.com/vms-api/access
